<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polaris</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
    </style>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?version=2">
    <link rel="stylesheet" type="text/css" href="/static/css/weather-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>



</head>
<body>

<div id="header">
    <div id="header-title">Polaris</div>
    <div id="header-time"></div>
</div>

<script>
    const days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
    function header_time() {
        var dt = new Date()
        document.getElementById("header-time").innerHTML = days[dt.getDay()] + ' ' + dt.getDate() + '.' + (dt.getMonth() + 1) + ' - ' + dt.toLocaleTimeString()
        setTimeout(header_time, 1000);
    }
    header_time();

    var polaris_header = document.getElementById('header-title');
    polaris_header.onclick = function() {
        location.reload(true);
    };
</script>


<script type="text/javascript">
    function get_departures () {
        $.getJSON( "/get_departures_req", function( data ) {
                var items = [];
                items.push("<ul id='stationboard-list'>");
                $.each( data, function( idx, entry ) {
                    items.push( "<li class='stationboard-item'><div class='line-wrapper'>");
                    items.push( "<div class='line-icon' style='border-color:"+ entry.background + ";'>" + entry.number + "</div>");
                    items.push( "<div class='line-dest'>" + entry.final + "</div>");
                    items.push( "<div class='line-dep'>" + entry.dt_m + "</div>");
                    items.push( "</div></li>");

                });
                items.push("</ul>");
                // console.log(items.join(""))

                $("#stationboard-list").replaceWith(items.join(""));
            });
    }




    function get_weather () {
        $.getJSON("/get_weather_req", function( weather ) {
            console.log(weather);

            $("#weather-now-icon").html("<nobr><i class='wi " +
            weather.icon +
            " weather-icons-now'></i>" +
            "<span class='temperature-now'>" +
            weather.Tnow + "°</span></nobr>" +
            "<br class='weather-icon-linebreak'><span class='weather-condition-now'>"+
            weather.Summary + " | " + weather.Thigh + '°/' + weather.Tlow + '°'+
            "</span>"
            );

            var t24_high = Math.max.apply(null, weather.T24);

            var t24_low = Math.min.apply(null, weather.T24);
            var block_width = 100.0 / (weather.T24.length - 0.01);
            console.log(block_width)

            var t_blocks = [];
            var t_poly_points = "-10,100 ";
            var block_height = 0
            $.each( weather.T24, function( idx, entry ) {
                block_height = 100 * entry / t24_high;
                var block_left = idx*block_width;
                t_poly_points += (block_left) + ',' + (100 - block_height) + ' '
                t_blocks.push(
                    '<div class="temperature-block" style="'+
                    'height:' + (block_height*0.9) + '%;' +
                    'width:' + block_width + '%;' +
                    'left:' + block_left + '%;' +
                    '">'
                 );
                 if (idx % 3 == 0){
                    t_blocks.push(Math.round(entry))
                 }
                 t_blocks.push('</div>')
            });
            $("#weather-t-forecast").html(t_blocks.join(""))
            t_poly_points += "110," + (100 - block_height) +" 110,100"
            $("#weather-t-forecast-plot").attr("points", t_poly_points);

            var p_blocks = [];
            var p_poly_points = "-10,100 ";
            var block_height = 0
            $.each( weather.P24, function( idx, entry ) {
                block_height = 100 * entry;
                var block_left = idx*block_width;
                p_poly_points += (block_left) + ',' + (100 - block_height) + ' '
                p_blocks.push(
                    '<div class="precipation-block" style="'+
                    'height:' + (block_height*0.9) + '%;' +
                    'width:' + block_width + '%;' +
                    'left:' + block_left + '%;' +
                    '">'
                 );
                 if (idx % 3 == 0 && Math.round(entry*100) >= 10 ){
                    p_blocks.push(Math.round(entry*100))
                 }
                 p_blocks.push('</div>')
            });
            $("#weather-p-forecast").html(p_blocks.join(""))
            p_poly_points += "110," + (100 - block_height) +" 110,100"
            console.log(p_poly_points);
            $("#weather-p-forecast-plot").attr("points", p_poly_points);

            var time_blocks = [];
            $.each( weather.Time24, function( idx, entry ) {
                var block_left = idx*block_width;
                time_blocks.push(
                    '<div class="time-block" style="'+
                    'width:' + block_width + '%;' +
                    'left:' + block_left + '%;' +
                    '">'
                 );
                 if (idx % 3 == 0){
                    time_blocks.push(entry)
                 }
                 time_blocks.push('</div>')
            });
            $("#weather-time-forecast").html(time_blocks.join(""))


        });
    }

    $(document).ready(function() {
        get_departures()
        get_weather()
        setInterval(get_departures, 5000);
        setInterval(get_weather, 5*60000);

    });


</script>

<div id="stationboard-wrapper">
    <div id="stationboard-list"></div>
</div>

<div id="weather-wrapper">
    <div id="weather-now">
        <div id="weather-now-icon"></div>
    </div>
    <div id="weather-forecast"></div>

    <div class="weather-plot-forecast" style="border-bottom: 1px solid #fff3cd;">
        <svg height=100% width=100% preserveAspectRatio="none" viewBox="0 0 100 100">
            <defs>
                <linearGradient id="linear-t" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%"   stop-color="#6b5f5c"/>
                  <stop offset="100%" stop-color="#4a464b"/>
                </linearGradient>
            </defs>
            <polyline
                fill="url(#linear-t)"
                stroke="#e2a884"
                stroke-width="2"
                vector-effect="non-scaling-stroke"
                id="weather-t-forecast-plot"
                points=""
            ></polyline>
        </svg>
        <div id="weather-t-forecast">
    </div>
    </div>




    <div class="weather-plot-forecast" style="border-bottom: 1px solid #2ea6ad;">
        <svg height=100% width=100% preserveAspectRatio="none" viewBox="0 0 100 100">
            <defs>
                <linearGradient id="linear-p" x1="0%" y1="0%" x2="0%" y2="100%">
                  <stop offset="0%"   stop-color="#5e75ad"/>
                  <stop offset="100%" stop-color="#484848"/>
                </linearGradient>
            </defs>
            <polyline
                fill="url(#linear-p)"
                stroke="#2ea6ad"
                stroke-width="2"
                vector-effect="non-scaling-stroke"
                id="weather-p-forecast-plot"
                points=""
            ></polyline>
        </svg>
        <div id="weather-p-forecast">
    </div>
    </div>

    <div id="weather-time-forecast">
    </div>
</div>
</body>

</html>
